extends painel-layout

block header
block painel
    #list-home
        h3 Perfil de administrador:
        ul.list-group.list-group-flush
            li.list-group-item Nome de usuário: #{user.usuario} 
                a(href="#") Editar
            li.list-group-item E-mail: #{user.email} 
                a(href="#") Editar
            li.list-group-item Administrador: 
                if user.isAdmin
                    span.text-success #{user.isAdmin}
                else
                    span.text-danger #{user.isAdmin} 
                a(href="#")  Editar