extends ../layout

block header
block content
    .container
        .row
            .col-.col-md-4
                ul.list-group
                    a(href="/minhaconta" class="list-group-item list-group-item-action" class=(classe === 'dados' ? 'active' : undefined))
                        img(src="/images/svg/user.svg" alt="Meus dados" width="20")
                        span  Meus dados
                    a(href="/minhaconta/compras" class="list-group-item list-group-item-action" class=(classe === 'compras' ? 'active' : undefined))
                        img(src="/images/svg/pay.svg" alt="Minhas compras" width="20")
                        span  Minhas compras
                    a(href="/carrinho" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" class=(classe === 'carrinho' ? 'active' : undefined))
                        .wrapper-menu-cart
                            img(src="/images/svg/cart.svg" alt="Meu carrinho" width="20")
                            span  Meu carrinho
                        if cart
                            if cart.products.length === 0
                                span.badge.badge-secondary.badge-pill 0
                            else
                                span.badge.badge-secondary.badge-pill= cart.totalQty
                        else
                            span.badge.badge-secondary.badge-pill 0
                    a(href="/favoritos" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" class=(classe === 'favoritos' ? 'active' : undefined))
                        .wrapper-menu-cart
                            img(src="/images/svg/heart.svg" alt="Meus favoritos" width="20")
                            span  Meus favoritos
                        if favorites
                            if favorites.qty === 0
                                span.badge.badge-secondary.badge-pill 0
                            else
                                span.badge.badge-secondary.badge-pill= favorites.qty
                        else
                            span.badge.badge-secondary.badge-pill 0
                    a(href="/minhaconta/privacidade" class="list-group-item list-group-item-action" class=(classe === 'privacidade' ? 'active' : undefined))
                        img(src="/images/svg/password.svg" alt="Privacidade" width="20")
                        span  Privacidade
                    a(href="/autenticacao/logout" class="list-group-item list-group-item-action")
                        img(src="/images/svg/logout.svg" alt="Sair" width="20")
                        span  Sair
            .minha-conta-content.col-.col-md-8.mt-4.mt-sm-0
                .row.border.rounded.d-flex.justify-content-center.bg-white
                    block conta
