extends conta-layout

block conta
    .col.p-1.p-md-4
        h3 Minhas compras:
        hr
        .row.row-cols-1
                .col.d-flex.justify-content-center.pb-3
                    img(src="/images/svg/empty_cart.svg", alt="Nenhum item no carrinho" width="280px" class="img-responsive")
                .col
                    p.text-center Você ainda não realizou nenhuma compra.