extends ../layout

block content
    
    .container
        .row.cadastro-form
            .col-md-3
            .col-md-6.auth-form.bg-white.shadow-sm
                h3 Cadastrar em nossa loja é rápido e simples!
                small(class="text-muted") Se você já tem uma conta, faça o seu login 
                    a(href="/autenticacao/login") aqui.
                br
                small(class="text-muted") Se você já tem uma conta, mas esqueceu sua senha, siga as instruções  
                    a(href="#") aqui.
                hr
                form(action="/autenticacao/cadastrar" class="register-form" method="post" @submit.prevent="handleSubmitRegister")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    .errors-register
                        if errors
                            h4 Por favor, corrija os seguintes erros:
                            ul(class="list-group")
                                each error in errors
                                    li(class="list-group-item list-group-item-danger")= error.msg
                        ul(v-if="errors.length > 0" class="list-group")
                            li(class="list-group-item list-group-item-danger" v-for="error in errors") {{error.message}}

                    .form-group
                        label(for="usuario") Nome de usuário
                        input(class="form-control" name="usuario" id="usuario" type="text" minlength="2" maxlength="55" required)
                        small(class="form-text text-muted") Este é o seu nome de usuário na loja
                    .form-group
                        label(for="email") E-mail
                        input(class="form-control" name="email" id="email" type="email" minlength="4" required)
                        small(class="form-text text-muted") Nunca compartilharemos o seu e-mail com ninguém
                    .form-group
                        label(for="senha") Senha
                        input(class="form-control" name="senha" id="senha" type="password" minlength="6" maxlength="26" required)
                        small(class="form-text text-muted") A sua senha deve possuir de 6 a 26 caractéres e deve conter letras e números
                    .form-group
                        label(for="confirmarSenha") Confirmar Senha
                        input(class="form-control" name="confirmarSenha" id="confirmarSenha" type="password" minlength="6" maxlength="26" required)
                        small(class="form-text text-muted") Insira novamente a sua senha
                    .form-group.form-check
                        input(type="checkbox" name="concordo" class="form-check-input" id="concordo" @click="toggleRegisterButton")
                        label(for="concordo" class="form-check-label") Li e concordo com as 
                            a(href="#") Políticas de Privacidade 
                            | e os 
                            a(href="#") Termos de Uso.
                    .form-group
                        input(type="submit" class="btn btn-primary btn-block submit-btn" :class="submitDisabled" value="Cadastrar" disabled)
            .col-md-3

block javascript
    script(src="/javascripts/cadastro.js")