extends layout

block content
  .container
      .row.products
        .col-md.product
        .col-md.product
        .col-md.product
        .col-md.product
        .col-md.product
      .row.products
        .col-md.product
        .col-md.product
        .col-md.product
        .col-md.product
        .col-md.product
      .row.products
        .col-md.product
        .col-md.product
        .col-md.product
        .col-md.product
        .col-md.product