doctype html
<!DOCTYPE html>
html(lang="pt-BR")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
		link(rel='stylesheet' href='/stylesheets/style.css')
		title Loja
	body
		.blur-overlay
		.overlay
		.hamburger-nav
			button(type="button" class="close" aria-label="Close" onclick="closeNav()")
				span(aria-hidden="true") &times;
			.menu-hamburger.list-group.list-group-flush
				form(method='get' action='/pesquisar' class="p-2")
					.input-group
						input.form-control.search-form(type='text' placeholder='Procurar' class="bg-white border" name="name")
						.input-group-append
							button.btn.btn-light.bg-none(type='submit')
								img(src="/images/svg/search.svg", alt="Procurar" width="20")
			a(href='/' class="list-group-item list-group-item-action text-nowrap")
				img(src="/images/svg/sydney-opera-house.svg", alt="Home" width=20)
				span  Home
			a(href='/produtos/fabricantes/apple' class="list-group-item list-group-item-action text-nowrap")
				img(src="/images/svg/apple.svg", alt="Apple" width=20)
				span  Apple
			a(href='/produtos/fabricantes/lg' class="list-group-item list-group-item-action text-nowrap")
				img(src="/images/svg/lg.svg", alt="LG" width=20)
				span  LG
			a(href='/produtos/fabricantes/motorola' class="list-group-item list-group-item-action text-nowrap")
				img(src="/images/svg/motorola.svg", alt="Motorola" width=20)
				span  Motorola
			a(href='/produtos/fabricantes/samsung' class="list-group-item list-group-item-action text-nowrap")
				img(src="/images/svg/samsung.svg", alt="Samsung" width=20)
				span  Samsung
			a(href='/produtos/fabricantes/xiaomi' class="list-group-item list-group-item-action text-nowrap")
				img(src="/images/svg/xiaomi.svg", alt="Xiaomi" width=20)
				span  Xiaomi
		.wrapper#root
			.loading
				div(class="spinner-grow" role="status")
					span(class="sr-only") Loading...
				div(class="spinner-grow" role="status")
					span(class="sr-only") Loading...
				div(class="spinner-grow" role="status")
					span(class="sr-only") Loading...
			block header
				.header.d-none.d-lg-block
					.container
						.row
							.col-5.loja-title
								h1 Minha Loja
							.col-7.menu-conta.d-flex.justify-content-end
								if user
									ul.menu-conta
										li Ol&aacute;, #{user.usuario}!
										if user.isAdmin
											li
												a(href='/painel-de-controle/geral') Painel de controle
										li
											a(href='/minhaconta') Minha conta
										li
											a(href='#') Ajuda
										li
											a(href='/autenticacao/logout') Sair
								else
									ul.menu-conta
										li
											a(href='/autenticacao/login') Entrar
										li
											a(href='/autenticacao/cadastrar') Cadastrar
			.navegacao
				.container
					.row
						.nav-left.nav-section.d-none.d-lg-flex.col-sm-4
							ul
								li
									a(href='/') HOME
								li
									a(href='/produtos/fabricantes/apple') Apple
								li
									a(href='/produtos/fabricantes/lg') LG
								li
									a(href='/produtos/fabricantes/motorola') Motorola
								li
									a(href='/produtos/fabricantes/samsung') Samsung
								li
									a(href='/produtos/fabricantes/xiaomi') Xiaomi
						.nav-left.nav-section.col-sm-4.d-flex.d-lg-none.col-2
							.nav-icon.dropdown
								a(title="Menu" class="hamburger-btn" @click="openNav")
									img(src="/images/svg/menu.svg", alt="Menu" width=40)
						.nav-center.nav-section.col-sm-4.col-lg-4.d-none.d-sm-flex
							form(method='get' action='/pesquisar' @keyup='handleSearchBox($event)')
								.input-group
									input.form-control.search-form(v-model="searchInput" type='text' placeholder='Procurar produto' name='name' autocomplete="off")
									.input-group-append
										button.btn.btn-light.bg-none(type='submit')
											img(src="/images/svg/search.svg", alt="Procurar" width="20")
									
						.nav-right.nav-section.col-sm-4.col-lg-4.col-10
							.nav-icon.px-1.px-md-2
								a(href="#" title="Entrar" class="login-button")
									img(src="/images/svg/user-white.svg", alt="Entrar" width=40)
							.nav-icon.px-1.px-md-2
								a(href="/favoritos" title="Meus favoritos")
									img(src="/images/svg/heart-white.svg", alt="Meus favoritos" width=40)
							.nav-icon.px-1.px-md-2
								a(href="/carrinho" title="Meu carrinho de compras")
									img(src="/images/svg/cart-white.svg", alt="Carrinho de compras" width=42)
									if cart
										span.badge.badge-light= cart.totalQty
									else
										span.badge.badge-light 0
			.search-box(v-show="searchProducts[0]" v-cloak)
				.container-fluid
					.row
						.col-
							ul.list-group.list-group-flush(v-for="product in searchProducts")
								li.list-group-item.list-group-item-action
									a.stretched-link(:href="product.url")
									img(:src="product.image_path" :alt="product.name" width="20")
									span(v-cloak)  {{product.name}}
			.login-box
				.login-arrow
				.login-innerbox
					if user
						ul.list-group.menu-conta
							span.list-group-item: strong.text-center Ol&aacute;, #{user.usuario}!
							if user.isAdmin
								a(href='/painel-de-controle/geral' class="list-group-item list-group-item-action")
									img(src="/images/svg/process.svg", alt="Painel administrativo" width=20)
									span  Painel de controle
							a(href='/minhaconta' class="list-group-item list-group-item-action")
								img(src="/images/svg/user.svg", alt="Minha conta" width=20)
								span  Minha conta
							a(href='#' class="list-group-item list-group-item-action")
								img(src="/images/svg/question.svg", alt="Ajuda" width=20)
								span  Ajuda
							a(href='/autenticacao/logout' class="list-group-item list-group-item-action")
								img(src="/images/svg/logout.svg", alt="Sair" width=20)
								span  Sair
					else
						.menu-conta
							.text-muted.text-center Não tem uma conta? É fácil se cadastrar!
							hr
							a(href='/autenticacao/login' class="btn btn-primary btn-block") Entrar
							a(href='/autenticacao/cadastrar' class="btn btn-secondary btn-block") Cadastrar

			.content#content
				block content
			footer
				| &copy;2020 - Minha Loja
	
		script(src="https://unpkg.com/axios/dist/axios.min.js")
		script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
		script(src="/javascripts/script.js")
		block javascript
			
