extends layout

block content
    
    .container
        .row.cadastro-form
            .col-md-4
            .col-md-4
                if contaCriada.length > 0
                    span.list-group-item.list-group-item-success.text-center= contaCriada
                h3 Faça o seu login
                small(class="text-muted") Ainda não tem uma conta? Faça já o seu cadastro 
                    a(href="/autenticacao/cadastrar") aqui.
                hr
                .error
                    if message.length > 0
                        p(class="list-group-item list-group-item-danger") #{message}
                form(action="" method="post")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    .form-group
                        label(for="usuario") Nome de usuário
                        input(class="form-control" name="username" id="usuario" type="text" minlength="2" maxlength="55" required)

                    .form-group
                        label(for="senha") Senha
                        input(class="form-control" name="password" id="senha" type="password" minlength="6" maxlength="26" required)
                        small(class="form-text text-muted")
                            a(href="#") Esqueci minha senha
                    .form-group
                        input(type="submit" class="btn btn-primary btn-block" value="Entrar")
            .col-md-4