$small: 576px;
$medium: 768px;
$large: 992px;
$extra: 1200px;

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    overflow-y: hidden;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    height: 100vh;

    color: #2c3e50;
    
    background-color: #ffffff;
    background-image: url("../images/back.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #686de0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blur-overlay {
    display: block;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: -3;

    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}
.overlay {
    display: block;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: -3;

    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
}

.hamburger-nav {
    z-index: 10;
    position: fixed;
    left:0;
    top:0;
    overflow-x: hidden !important;

    width: 0px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 6px rgb(43, 43, 43);

    .close {
        padding: 20px;
    }
    .menu-hamburger {
        padding: 50px 0px 0px 0px;
    }
}

.wrapper {
    min-height: 100%;
    position: relative;

    .alert {
        position: absolute;
        bottom:0;
        height: fit-content;
        width: fit-content;
        padding: 40px;
    }
    
    .search-box {
        display: flex;

        position: fixed;
        padding: 40px;

        // visibility: hidden;
        // opacity: 0;
        // z-index: -4;
        visibility: visible;
        opacity: 1;
        z-index: 4;

        background-color: white;
        min-width: 300px;
        max-width: 320px;
        height: fit-content;
        flex-wrap: wrap;

        box-shadow: 2px 2px 4px solid black;
        border-radius: 5px;
    }

    .login-box {
        cursor: pointer;
        position: fixed;
        padding: 40px;

        display: flex;
        align-items: flex-start;;
        justify-content: center;

        visibility: hidden;
        opacity: 0;
        z-index: -4;
        .login-innerbox {
            padding: 20px;
            background-color: white;
            min-width: 240px;
            max-width: 250px;
            height: fit-content;
            box-shadow: 2px 2px 4px solid black;
            border-radius: 5px;

        }
        .login-arrow {
            background-color: white;
            z-index: -4;
            width: 100px;
            height: 100px;

            position: absolute;
            transform: rotate(45deg);
        }
    }
    
}

.header {
    position: relative;
    background-image: url(../images/fabian-grohs-fPx0cdZ1vuI-unsplash.jpg);
    background-size: cover;
    background-position: center;

    min-height: 590px;
    padding:12px;

    .filter-header {
        position: absolute;
        top: 0;
        bottom:0;
        width: 100%;
        margin-left:-12px;

        background-color: rgba(13, 29, 177, 0.6);
        border-top: 4px solid #f0932b;

        display: flex;
        align-items: center;
        justify-content: center;

        .texto-jumbo {
            min-height: 250px;
            h1 {
                font-weight: 800;
            }
        }
    }

    h2 {
        font-family: 'Righteous', ;
        color: #f0932b;
        font-weight: 500;
        text-shadow: 1px 1px 4px solid black;
    }

    .menu-conta {
        display: flex;
        align-items: center;
        justify-content: center;
    
        ul {
            margin: 0;
            li {
                display: inline;
                padding: 0px 10px 0px 10px;
                color: white;
                font-weight: 700;

                a {
                    overflow: hidden;
                    text-decoration: none;
                    border-bottom: 2px solid rgba(0,0,0,0);
                    color: #dbdbf1;
                    padding: 8px;
                    transition: all 0.3s;

                    &:hover {
                        text-orientation: sideways-right;
                        border-bottom: 2px solid #f0932b;
                    }
                }
            }
        }
    }
}

.navegacao {
    display: block;
    width: 100%;

    position: sticky;
    top:0;
    z-index: 3;
    background-color: rgba(19,15,64,0.93);
    padding: 15px;
    .container {
        .nav-section {
            display: flex;
            align-items: center;
            justify-content: center;
            ul {
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                list-style-type: none;

                .logo-nav {
                    text-align: center;
                    font-family: 'Righteous', ;
                    font-size: 1.4em;
                    color: #f0932b;
                    font-weight: 500;
                    text-shadow: 1px 1px 4px solid black;
                }

                li {
                    display: inline;
                    a {
                        padding: 15px 5px 15px 5px;
                        color: white;
                        text-decoration-line: none;
                        border-radius: 5px;
                        transition: 200ms;
                        &:hover {
                            background-color: #30336b;
                        }
                    }
                }
            }
        }
        .nav-left {
            .hamburger-btn {
                cursor: pointer;
            }
        }
        .nav-center {
        }
        .search-form {
            background-color: white !important;
        }
        .nav-right {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .nav-icon {
            img {
                padding: 5px;
                border-radius: 5px;
                transition: 200ms;
                &:hover {
                    background-color: #30336b;
                }
            }
        }
    }
}

.sub-banner {
    padding: 20px;

    .subbanner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 300px;
        }
    }
    .subbanner-text {
        padding-top: 20px;
        h1, h3 {
            font-weight: 900;
        }
        .ofertas-text {
            color: #4834d4 !important;
        }
    }
}

.content {
    padding-top: 50px;
    padding-bottom: 260px; //height of the footer

    .products {
        margin-top: 40px;
        background: none;
        .product {
            position: relative;
            background-color: white;
            max-width: 240px;
            min-width: 220px;
            margin: 10px;
            box-shadow: 1px 1px 6px black;
            transition: 0.3s;

            &:hover {
                box-shadow: 6px 6px 12px black;
                .carrinho-product, .favoritos-product {
                    background-color: #badc58;
                    border: #6ab04c;
                }
                .added {
                    cursor: not-allowed;
                    background-color: #ff7979;
                    &:hover {
                        background-color: #ff7979 !important;
                    }
                }
            }

            @media screen and (max-width: $small){
                min-width: 290px;
            }

            .img-product {
                padding-top: 30px;
            }

            .product-icons {
                z-index: 1;
                position: absolute;
                top:-5px;
                left:-10px;
                padding: 5px;

                .carrinho-product {
                    transition: 500ms;
                    &:hover {
                        background-color: #6ab04c;
                    }
                }
                .favoritos-product {
                    transition: 500ms;
                    &:hover {
                        background-color: #6ab04c;
                    }
                }
            }

            .percentage-off {
                width: fit-content;
                position: absolute;
                top:-5px;
                right:-5px;
                padding: 5px;
                background-color: #eb4d4b;
                color: white;
                transition: 0.3s;
            }
            .card-body {
                position: relative;
                .card-title {
                    color: #4834d4;
                }
                .price-tag {
                    position: absolute;
                    bottom: 0;
                    right:0;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .search-results {
        h1, h2, h3, h4, h5 {
            color: #4834d4;
        }
    }

    .product-details {
        background: none;
        border-radius: 5px;
        padding: 20px;
        .product-card {
            h1 {
                color: #4834d4 !important;
            }
            
        }
        .description {
            padding: 5px;
            margin-left: 15px;
            color: white;
            background-color: #2c3e50;
        }
        .favorito-btn {
            padding: 20px;
        }  
        .carrinho-btn {
            padding: 20px;
        }
    }
    .table-carrinho {
        @media screen and (max-width: $medium){
            font-size: small;
            max-width: 260px;
        }
    }
    .finalizar {
        color: white;
        text-decoration: none;
        text-decoration-style: none;
    }
    .lista-produtos-finalizar {
        position: sticky;
        top: 80px;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
    }

    .auth-form {
        border-top: 6px solid #4834d4 !important;
        padding: 20px;
        h3 {
            color: #4834d4;
        }
    }

    /*minha conta*/

    .minha-conta-content {
        color: #2c3e50;
        h1, h2, h3, h4, h5 {
            color: #4834d4;
        }
    }
}

/*painel de controle*/

.painel-content {
    h1,h2,h3,h4,h5 {
        color:#4834d4;
    }
}

/*footer*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px; //height of the footer
    width: 100%;
    background-color: #130f40;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    padding: 40px;
}

.disabled {
    &:hover {
        cursor: not-allowed;
    }
}

[v-cloak] {
    display: none;
}

::selection {
    background: #f0932b;
}

// BOOTSTRAP OVERWRITES

.btn-success {
    background-color: #6ab04c;
    border: solid #6ab04c;
    &:hover {
        background-color: #badc58;
        border: solid #badc58;
    }
}
.btn-danger {
    background-color: #eb4d4b;
    border: solid #eb4d4b;
    &:hover {
        background-color: #ff7979;
        border: solid #ff7979;
    }
}
.btn-primary {
    background-color: #4834d4;
    border: solid #4834d4;
    &:hover {
        background-color: #686de0;
        border: solid #686de0;
    }
}
.btn-secondary {
    background-color: #535c68;
    border: solid #535c68;
    &:hover {
        background-color: #95afc0;
        border: solid #95afc0;
    }
}
.btn-light {
    background-color: #dfe4ea;
    border: #dfe4ea;
    &:hover {
        background-color: #f1f2f6;
        border: #f1f2f6;
    }
}
input:not(.btn), input:focus:not(.btn) {
    border: none;
    background-color: #dee6ec;
}